In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [79]:
df= pd.read_excel('/content/bus.xlsx')
df2 = pd.read_excel('/content/hanla.xlsx')
df3 = pd.read_csv('/content/hadoop.csv')

In [ ]:
plt.scatter(df1['경도'],df1['위도'])
df[df['정류소명'] == '(구)중앙파출소']
df.head(20)

In [ ]:
df2

In [ ]:
df2.groupby('어리목').sum()
df2

In [24]:
ss = 0
for i in df2["어리목"]:
  ss+=int(i)
print(ss)
sum(df2["어리목"])

1706936

1706936

In [ ]:
DF2['하루총합'] = 0
for i in range(60):
  DF2['하루총합'][i] = DF2.loc[i].sum()
print(DF2)

In [ ]:

df2.loc[60] = 0
print(df2)

In [ ]:
# print(df3)
unique_ip = df3['access_ip'].unique()
unique_dict = dict.fromkeys(unique_ip)
for i in unique_dict.keys():
  unique_dict[i] = []
print(unique_dict )

In [ ]:
for i in range(len(df3)):
  key = df3['access_ip'].iloc[i]
  unique_dict[key].append(df3['item_name'].iloc[i])
unique_dict
# 캐글 타이타닉